body{
    gap: 20px;
    background-color: rgb(61, 7, 7);
    display: flexbox;
}

/* Header/Logo Title */
.header {
    padding: 40px;
    text-align: left; 
    background: #12725f;
    color: white;
    font-size: 40px;
    float: left;
    border-radius: 15px;
    background: url("../Images/bgData1.jpg");
    background-position: center;
    display: flexbox;
  }
  .header2 {
    padding: 40px;
    text-align: left;
    background: #65940d;
    color: white;
    font-size: 30px;
    float: right;
    border-radius: 15px;
    margin-left: 1000px;
    display: flexbox;
 
  }

 .content-gridcontainer{
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: 80px 1100px;
    
    grid-gap: 20px;
    background-color: #6191b6;
    padding: 10px;
    align-content: center;
    margin-left: 100px;
    margin-right: 100px;
    border-radius: 15px;
    display: flexbox;
  }

  .content-gridcontainer > div {
    background-color: rgba(248, 225, 225, 0.8);
    text-align: center;
    padding: 20px;
    font-size: 30px;
    display: flexbox;
  }

  .img2 {
    float: none;
    border-radius: 50%;
    margin-top: 3%;
    width: 200px;
    height: 200px;
}

.name{
    text-align: center;
    align-content: center;
    margin-top: 0;
    margin-bottom: 70px;
    font-style: italic;
    font-size: x-large;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bolder;
    display: flexbox;
}

p {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 100px; 
  
}


 